.navbar-brand {
    font-size: 24px; /* Brand 글꼴 크기 키우기 */
    display: flex;
    align-items: center; /* 요소를 수직으로 가운데 정렬 */
    height: 100%; /* 부모 요소의 높이를 상속받도록 설정 */
    padding-left: 50px;
    color:#828282;
}

.navbar {
    height: 70px; /* Navbar 높이 설정 */
    display: flex;
    align-items: center; /* Navbar 요소를 수직으로 가운데 정렬 */
}

.navbar-nav .nav-link {
    font-size: 15px; /* 링크 글꼴 크기 키우기 */
}

.nav-link.active {
    color: white;
}

.hero-section {
    padding: 160px 0;
    text-align: center;
    background-color: #ffffff; /* 배경색을 빛나는 회색으로 변경 */
}

.hero-section h1 {
    font-size: 40px; /* h1 요소의 글자 크기를 크게 조정 */
    font-weight: bold;;
    margin-bottom: 25px; /* h1 요소 아래로 추가 공간을 주기 위해 수정 */
}

.hero-section h2 {
    font-weight: 500;
   font-size: 20px; /* h2 요소의 글자 크기를 작게 조정 */
   color:gray;
   margin-bottom: 20px; /* h2 요소 아래로 추가 공간을 주기 위해 수정 */
}


.content {
    margin-left: 40px;
}

h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}