.navbar-brand {
    font-size: 24px; /* Brand 글꼴 크기 키우기 */
    display: flex;
    align-items: center; /* 요소를 수직으로 가운데 정렬 */
    height: 100%; /* 부모 요소의 높이를 상속받도록 설정 */
    padding-left: 50px;
    color:#828282;
}

.navbar {
    height: 70px; /* Navbar 높이 설정 */
    display: flex;
    align-items: center; /* Navbar 요소를 수직으로 가운데 정렬 */
}

.navbar-nav .nav-link {
    font-size: 15px; /* 링크 글꼴 크기 키우기 */
}

.nav-link.active {
    color: white;
}


.hero-section {
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
}

.hero-section h1 {
    font-size: 40px; /* h1을 더 큰 글꼴 크기로 설정합니다. */
    margin-top: 70px;
    font-weight: bold; /* h1을 더 굵은 글꼴로 설정합니다. */
    margin-bottom: 10px; /* h1과 h2 사이에 간격을 추가합니다. */
}

.hero-section h2 {
    font-size : 20px;
    margin-top: 0; /* 기본적인 위쪽 여백을 제거하여 h1과 h2 사이에 간격을 만듭니다. */
    font-weight:lighter;
}





.content {
    margin-left: 40px;
}

h3 {
    color : black;
    font-size: large;
    font-family: 'Lobster';
}

.date {
    color: #8282822d;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}
